{% extends 'base.html' %} {% load static %} {% block content %}

<h1 class="text-center">{% if search %}Search Results{% else %}Recent Games{% endif %}</h1>

<div class="container">
  {% if games %}
    <div class="row justify-content-md-center gx-5 gy-5">
        {% for game in games %}
        <div class="col col-lg-6">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">{{game.Title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{game.Genre}}</h6>
                  <p class="card-text">{{ game.Description|truncatechars:250 }}</p>
                  <a href="/game/{{game.GameId}}" class="card-link">View More</a>
                  {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
                </div>
              </div>
          </div>
        {% endfor %}
        {% else %}
        <p class="text-center">No results found.. Try searching something else!</p>
        {% endif %}
  </div>
{% endblock %}
