{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col text-center">
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle button-center" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Console
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Nintendo</a></li>
    <li><a class="dropdown-item" href="#">PC</a></li>
    <li><a class="dropdown-item" href="#">Playstation</a></li>
    <li><a class="dropdown-item" href="#">Xbox</a></li>
  </ul>
</div>
</div>
<h1 class="text-center">{% if search %}Search Results{% else %}Recent Games{% endif %}</h1>

<div class="container">
  {% if games %}
    <div class="row justify-content-md-center gx-5 gy-5">
        {% for game in games %}
        <div class="col col-lg-6">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><a href="/game/{{game.GameId}}" class="stretched-link">{{game.Title}}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{game.Genre}}</h6>
                  <p class="card-text">{{ game.Description|truncatechars:250 }}</p>
                </div>
              </div>
          </div>
        {% endfor %}
        {% else %}
        <p class="text-center">No results found.. Try searching something else!</p>
        {% endif %}
  </div>
{% endblock %}
