{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col-sm-1 dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Console
      </a>
          
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% with 'Nintendo PC Playstation Xbox' as list %}
        {% for i in list.split %}
        <li><a class="dropdown-item" href="?search={{searched}}&console={{i}}">{{i}}</a></li>
      {% endfor %}
      {% endwith %}
      </ul>
    </div>
  
    <div class="col-sm-1 dropdown">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Genre
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% with 'Action Fighting Indie Puzzle Racing RPG RTS Sooter Simulator Sport Strategy' as list %}
        {% for i in list.split %}
        <li><a class="dropdown-item" href="?search={{searched}}&genre={{i}}">{{i}}</a></li>
      {% endfor %}
      {% endwith %}
      </ul>
    </div>
  </div>
</div>

<h1 class="text-center">{% if search %}Search Results{% else %}Recent Games{% endif %}</h1>

<div class="container">
  {% if games %}
    <div class="row justify-content-md-center gx-5 gy-5">
        {% for game in games %}
        <div class="col col-lg-6">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title"><a href="/game/{{game.GameId}}" class="stretched-link">{{game.Title}}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{game.Genre}}</h6>
                  <p class="card-text">{{ game.Description|truncatechars:250 }}</p>
                </div>
              </div>
          </div>
        {% endfor %}
        {% else %}
        <p class="text-center">No results found.. Try searching something else!</p>
        {% endif %}
  </div>
{% endblock %}
